{#include GithubToJiraResource/base}
    {#page-class}importing{/page-class}
    {#title}Quarkus Github to JIRA import{/title}
    {#body}
        <h2>Pull requests to import</h2>
        <ul>
            <li>Data comes from this project: <a href="https://github.com/orgs/quarkusio/projects/{projectNumber}">https://github.com/orgs/quarkusio/projects/{projectNumber}</a></li>
            <li>Limiting to PRs in the {fixVersion} column</li>
        </ul>
        <table class="ui celled striped table">
            <thead>
            <tr>
                <th class="one wide" style="width:10px; text-align:right">PR #</th>
                <th class="thirteen wide">Title</th>
                <th class="one wide">Existing JIRA(s)</th>
                <th class="two wide">Action</th>
            </tr>
            </thead>
            <tbody>
            {#for pr in pullRequests}
                <tr>
                    <td>
                        <a href="{pr.url}" target="_blank">#{pr.number}</a>
                    </td>
                    <td>
                        <span>{pr.title}</span>
                    </td>
                    <td>
                        {#if pr.existingJiras.size > 0}
                            {#for jira in pr.existingJiras}
                                <a href="{jira.url}" target="_blank">{jira.key}</a>
                            {/for}
                        {#else}
                            None found
                        {/if}
                    </td>
                    <td class="center aligned">
                        {#if pr.existingJiras.size == 0}
                            <div class="ui icon button blue" id="create-as-bug-{pr.number}" title="Create as a bug">
                                <i class="bug icon"></i>
                            </div>
                            <div class="ui icon button blue" id="create-as-upgrade-{pr.number}" title="Create as a component upgrade">
                                <i class="upload icon"></i>
                            </div>
                            <span id="created-jira-{pr.number}"></span>
                            <script type="text/javascript">
                                $('#create-as-bug-{pr.number}').click(function () {
                                    $('#create-as-bug-{pr.number}').prop("onclick", null).off("click");
                                    $('#create-as-bug-{pr.number}').addClass('loading').removeClass('blue');

                                    $.ajax('/import/' + encodeURIComponent("{pr.number}") + '/' + encodeURIComponent("{fixVersion}") + '/bug')
                                        .done(function (f) {
                                            $('#create-as-bug-{pr.number}').removeClass('loading').addClass('positive disabled');
                                            $('#create-as-bug-{pr.number} i').removeClass('bug').addClass('check');
                                            $('#create-as-bug-{pr.number}').closest('tr').addClass('positive');
                                            $('#created-jira-{pr.number}').html("Created: <a href=" + f + ">" + f.substring(f.lastIndexOf('/') + 1) + "</a>");
                                        }).fail(function () {
                                        $('#create-as-bug-{pr.number}').removeClass('loading').addClass('negative disabled');
                                        $('#create-as-bug-{pr.number} i').removeClass('reply').addClass('exclamation triangle');
                                        $('#created-jira-{pr.number}').html("Error, please check server logs");
                                    });
                                });
                                $('#create-as-upgrade-{pr.number}').click(function () {
                                    $('#create-as-upgrade-{pr.number}').prop("onclick", null).off("click");
                                    $('#create-as-upgrade-{pr.number}').addClass('loading').removeClass('blue');

                                    $.ajax('/import/' + encodeURIComponent("{pr.number}") + '/' + encodeURIComponent("{fixVersion}") + '/upgrade')
                                        .done(function (f) {
                                            $('#create-as-upgrade-{pr.number}').removeClass('loading').addClass('positive disabled');
                                            $('#create-as-upgrade-{pr.number} i').removeClass('upload').addClass('check');
                                            $('#create-as-upgrade-{pr.number}').closest('tr').addClass('positive');
                                            $('#created-jira-{pr.number}').html("Created: <a href=" + f + ">" + f.substring(f.lastIndexOf('/') + 1) + "</a>");
                                        }).fail(function () {
                                        $('#create-as-upgrade-{pr.number}').removeClass('loading').addClass('negative disabled');
                                        $('#create-as-upgrade-{pr.number} i').removeClass('reply').addClass('exclamation triangle');
                                        $('#created-jira-{pr.number}').html("Error, please check server logs");
                                    });
                                });
                            </script>
                        {#else}
                            <span>No action required</span>
                        {/if}
                    </td>
                </tr>
            {#else}
                <tr>
                    <td colspan="3">
                        Nothing to import.
                    </td>
                </tr>
            {/for}
            </tbody>
        </table>
    {/body}
    {#scripts}
        <script type="text/javascript">

        </script>
    {/scripts}
{/include}