{#include GithubToJiraResource/base}
	{#page-class}milestone-choice{/page-class}
	{#title}Quarkus Github to JIRA import{/title}
	{#body}
		<div class="ui main container">
			<div class="ui two column centered grid">
				<div class="column">
					<div class="ui tall very padded piled segment">
						<h3 class="ui header">Choose a backport project</h3>
						<div class="content">
							<div class="ui form">
								<div class="field">
									<label>Backport project where to look for PRs to import</label>
									<select class="ui search dropdown" id="project-selector">
										<option value="">Select backport project</option>
										{#for project in projects}
											<option value="{project.number}">{project.title} (project ID={project.number})</option>
											{/}
									</select>
								</div>
								<div class="field">
									<label>Select a fix version</label>
									<select class="ui search dropdown" id="fix-version-selector">
										<option value="">Select fix version</option>
									</select>
								</div>
								<div class="ui submit green button" id="continue">Continue to imports</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	{/body}
	{#scripts}
		<script type="text/javascript">
			$('select.dropdown').dropdown();

			// convert projects metadata into something that can be used in JavaScript
			// this produces something like:
			// projects[62] = ["3.27.0","3.27.1","3.27.2","3.27.3","3.27.4","3.27.5","3.27.6","3.27.7","3.27.8"];
			// projects[61] = ["3.28.0","3.28.1","3.28.2","3.28.3","3.28.4","3.28.5","3.28.6","3.28.7","3.28.8"];
			var projects = {};
			{#for project in projects}
			projects[{project.number}] = [{#each project.versions}"{it}"{#if it_hasNext},{/if}{/}];
			{/}

			// when the user selects a project, update the fix version dropdown to match versions available in that project
			$('#project-selector').change(function() {
				var projectId = $(this).children("option:selected").val();
				var versions = projects[projectId];

				// clear out existing options
				$('#fix-version-selector').empty();

				// add a placeholder option
				$('#fix-version-selector').append($('<option>', {
				    value: '',
				    text: 'Select fix version'
				}));

				// add new options
				$.each(versions, function(index, value) {
				    $('#fix-version-selector').append($('<option>', {
				        value: value,
				        text: value
				    }));
				});

				// refresh the dropdown to show the new options
				$('#fix-version-selector').dropdown('clear');
			});
			// also make sure the above happens on page load
			$('#project-selector').change();


			$('#continue').click(function() {
				window.location.href = '/importing/' + $('#project-selector').children("option:selected").val() + '/' + $('#fix-version-selector').children("option:selected").val() + '/';
				return false;
			});
		</script>
	{/scripts}
{/include}