{#include GithubToJiraResource/base}
	{#page-class}milestone-choice{/page-class}
	{#title}Quarkus Github to JIRA import{/title}
	{#body}
		<div class="ui main container">
			<div class="ui two column centered grid">
				<div class="column">
					<div class="ui tall very padded piled segment">
						<h3 class="ui header">Choose a backport project</h3>
						<div class="content">
							<div class="ui form">
								<div class="field">
									<label>Backport project where to look for PRs to import</label>
									<select class="ui search dropdown" id="project-selector">
										<option value="">Select backport project</option>
										{#for project in projects}
											<option value="{project.number}">{project.title} (project ID={project.number})</option>
											{/}
									</select>
								</div>
								<div class="field">
									<label>Select a fix version on GitHub</label>
									<select class="ui search dropdown" id="fix-version-selector">
										<option value="">Select fix version on GitHub</option>
									</select>
								</div>
								<div class="field">
									<label>Target JIRA fix version</label>
									<select class="ui search dropdown" id="jira-fix-version-selector">
										<option value="">Select fix version</option>
										{#for fixVersion in jiraFixVersions}
											<option value="{fixVersion}">{fixVersion}</option>
											{/}
									</select>
								</div>
								<div class="ui submit green button" id="continue">Continue to imports</div><br/><br/>
							</div>
						</div>
					</div>

					<div class="ui tall very padded piled segment">
						<h3 class="ui header">Imports PRs manually by number</h3>
						<div class="content">
							<div class="ui form">
								<div class="field">
									<label>Target JIRA fix version</label>
									<select class="ui search dropdown" id="manual-import-fix-version-selector">
										<option value="">Select fix version</option>
										{#for fixVersion in jiraFixVersions}
											<option value="{fixVersion}">{fixVersion}</option>
											{/}
									</select>
								</div>
								<div class="field" id="manual-import-number-parent">
									<label>Pull request number</label>
									<input class="ui" id="manual-import-number"/>
								</div>
								<div class="ui submit green button" id="load-pr-metadata">Load PR metadata</div><br/><br/>
								<div class="ui segment" style="display:none;" id="manual-metadata-loader">
									<p></p>
									<div class="ui active dimmer">
										<div class="ui loader"></div>
									</div>
								</div>
								<div id="manual-import-metadata-wrapper" style="display:none;">
									<div class="ui message">
										<div class="header" id="manual-import-metadata-title">REPLACE_ME</div><br/><br/>
										<div class="ui submit green button" id="manual-create-button">Create JIRA</div>
										<p class="ui" id="manual-create-result"></p>
									</div>
								</div>
							</div>
						</div>
					</div>

				</div>
			</div>
		</div>
	{/body}
	{#scripts}
		<script type="text/javascript">
			$('select.dropdown').dropdown();

			// convert projects metadata into something that can be used in JavaScript
			// this produces something like:
			// projects[62] = ["3.27.0","3.27.1","3.27.2","3.27.3","3.27.4","3.27.5","3.27.6","3.27.7","3.27.8"];
			// projects[61] = ["3.28.0","3.28.1","3.28.2","3.28.3","3.28.4","3.28.5","3.28.6","3.28.7","3.28.8"];
			var projects = {};
			{#for project in projects}
			projects[{project.number}] = [{#each project.versions}"{it}"{#if it_hasNext},{/if}{/}];
			{/}

			// when the user selects a project, update the fix version dropdown to match versions available in that project
			$('#project-selector').change(function() {
				var projectId = $(this).children("option:selected").val();
				var versions = projects[projectId];

				// clear out existing options
				$('#fix-version-selector').empty();

				// add a placeholder option
				$('#fix-version-selector').append($('<option>', {
				    value: '',
				    text: 'Select fix version'
				}));

				// add new options
				$.each(versions, function(index, value) {
				    $('#fix-version-selector').append($('<option>', {
				        value: value,
				        text: value
				    }));
				});

				// refresh the dropdown to show the new options
				$('#fix-version-selector').dropdown('clear');
			});
			// also make sure the above happens on page load
			$('#project-selector').change();


			$('#continue').click(function() {
				window.location.href = '/importing/' + encodeURIComponent($('#project-selector').children("option:selected").val()) + '/'
						+ $('#fix-version-selector').children("option:selected").val() + '/'
						+ $('#jira-fix-version-selector').children("option:selected").val() + '/';
				return false;
			});

			$('#load-pr-metadata').click(function() {
				if(!$('#manual-import-number').val()) {
					$('#manual-import-number-parent').addClass("error");
				} else {
					$('#manual-import-url-parent').removeClass("error");
					$('#manual-metadata-loader').show();
					$('#manual-import-metadata-wrapper').hide();
					$.ajax('/pr-metadata/' + encodeURIComponent($('#manual-import-number').val()))
							.done(function (f) {
								$('#manual-metadata-loader').hide();
								$('#manual-import-metadata-title').html("PR #" + f.number + ": " + f.title);
								$('#manual-create-button').removeClass('disabled');
								$('#manual-create-button').show();
								$('#manual-create-result').hide();
								$('#manual-import-metadata-wrapper').show();
							}).fail(function () {
								$('#manual-metadata-loader').hide();
								$('#manual-import-metadata-title').html("Error loading PR metadata, please check server logs");
								$('#manual-create-button').removeClass('disabled');
								$('#manual-create-button').hide();
								$('#manual-create-result').hide();
								$('#manual-import-metadata-wrapper').show();
							});
				}
			});

			$('#manual-create-button').click(function() {
				$('#manual-create-button').addClass('loading').removeClass('green');
				$.ajax('/import/' + encodeURIComponent($('#manual-import-number').val()) + '/'
							+ encodeURIComponent($('#manual-import-fix-version-selector').children("option:selected").val())
							+ '/bug') // TODO: allow specifying issue type
						.done(function (f) {
							$('#manual-create-button').removeClass('loading').addClass('positive disabled');
							$('#manual-create-result').html("Created: <a href=" + f + ">" + f.substring(f.lastIndexOf('/') + 1) + "</a>");
						}).fail(function () {
							$('#manual-create-button').removeClass('loading').addClass('negative disabled');
							$('#manual-create-result').html("Error, please check server logs");
						});

			});
		</script>
	{/scripts}
{/include}